<html>
<head>
    <title>Viktor Daróczi's Feed Reader</title>
    <? // TODO: To external css, except dynamic parts ?>
    <style>
        body {
            font-family: Helvetica,Arial,sans-serif;
            margin: 0px;
            border-top:10px solid #<? if ($this->backgroundColor): ?><?= $this->backgroundColor ?><? else: ?>ededed<? endif; ?>;
            color: #<? if ($this->textColor): ?><?= $this->textColor ?><? else: ?>000000<? endif; ?>;
        }
        a {
            color: #<? if ($this->linkColor): ?><?= $this->linkColor ?><? else: ?>6495ed<? endif; ?>;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        h1 { margin:10px; }
        .background { background-color: #efefef; }
        .content { width: 800px; background-color: #ffffff; margin-left: auto; margin-right: auto; padding: 0px; }
        li.unsigned { list-style-type: none; }
        img.profile { float:left; margin-right: 10px; margin-left: 10px; }
        div.status { margin-left: 70px; }
        .weak { color:dimgray; }
        hr { border: 0; height: 1px; background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc); }
        .clearfix { clear: both; }
    </style>
</head>
<body>