<div>
    <h1>Statuses</h1>
</div>
<div class="background">
    <ul class="content">
        <? foreach ($this->statuses as $status): ?>
            <li class="unsigned">
                <img src="<?= $this->user->getSocialProfileImage() ?>" class="profile" />
                <div class="status">
                <strong><?= $this->user->getSocialProfileName() ?></strong>&nbsp;<span class="weak">@<?= $this->user->getSocialProfileScreenName() ?> . <? $d = new DateTime($status->getSocialStatusCreatedAt()); ?><?= $d->format("j M Y") ?></span><br />
                <?= $status->getSocialStatusText() ?><br />
                <a href="/retweet?id=<?= $status->getPublicSocialStatusId() ?>">Retweet</a> | <a href="/reply?id=<?= $status->getPublicSocialStatusId() ?>">Reply</a> | <a href="/favorite?id=<?= $status->getPublicSocialStatusId() ?>">Favorite</a>
                </div>
                <div class="clearfix"><hr /></div>
            </li>
        <? endforeach; ?>
    </ul>
</div>