<div xmlns="http://www.w3.org/1999/html">
    <h1>Reply Tweet</h1> <a href="/">Back</a>
</div>
<div class="background">
    <? if (isset($this->response)): ?>
    <pre>
        <? var_dump($this->response) ?>
    </pre>
    <? else: ?>
        <form method="post">
            <textarea name="text"><?= $this->text ?></textarea><br />
            <input type="submit" />
        </form>
    <? endif; ?>
</div>